[user]
	name = Sanne's AI assistant
	email = sanne.grinovero+ai-bot@gmail.com

[alias]
	co = checkout
	br = branch --sort=committerdate
	cp = cherry-pick
	st = status
	l = log --pretty=oneline --decorate --abbrev-commit
	rb = rebase -i HEAD~30
	rbm = rebase -i main
	uncommit = reset --soft HEAD^
	fix = commit --amend --no-edit
	superreset = clean -fdx

[url "https://github.com/"]
	insteadOf = gh:

[push]
	default = current

[receive]
	denyNonFastForwards = 1
	updateserverinfo = 1

[http]
	sslVerify = true

[pull]
	ff = only

[init]
	defaultBranch = main

